<ul class="icons">
    <li><a href="mailto:{{ site.email }}" class="icon alt fa-envelope"></a></li>
    <li><a href="tel:{{ site.phone }}" class="icon alt fa-phone"></a></li>
    {% for key_value in site.socials %}
        {% if key_value[1] %}
            <li>
                <a href="{{ key_value[1] }}" class="icon alt fa-{{ key_value[0] | downcase }}" target="_blank" rel="noopener noreferrer" aria-label="{{ key_value[0] }}">
                    <span class="label">{{ key_value[0] }}</span>
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>